{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock %}
{% block content %}
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <form action="{% url 'create_blog2' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" id="subBtn">
            </form>

        </div>
        {% include '_side_bar.html' %}
    </div>

{% endblock %}

{% block js %}

{% endblock %}